.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #204b9a;
  height: 75px;
}

.navbar-links {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 150px;
  height: 100%;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000000;
}

.navbar-btn {
  background-color: #618930;
  width: 160px;
  height: 40px;
  z-index: 23;
  cursor: pointer;
  border-radius: 4px;
}
